.register__outterContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.register__innerContainer {
  background-color: white;
  position: relative;
  width: 800px;
  padding: 20px;
  max-width: 85vw;
  height: 80vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3); */
  box-shadow: 5px 5px 9px #cbced1, -5px -5px 9px #ffffff;
}
.register__header {
  color: #e75480;
}
