.myProfile__outterContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.myProfile__innerContainer {
  position: relative;
  width: 800px;
  padding: 20px;
  max-width: 85vw;
  height: 75vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.myProfile__miniOutterContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.myProfile__miniInnerContainer {
  position: relative;
  width: 250px;
  padding: 30px;
  max-width: 30vw;
  height: 35vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.myProfile__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myProfile__cardContainer {
  display: flex;
  justify-content: center;

  /* margin-top: 1vh; */
}

.myProfile__card {
  position: relative;
  width: 500px;
  padding: 20px;
  max-width: 25vw;
  height: 35vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.myProfile__card > h3 {
  position: absolute;
  bottom: 10px;
  color: white;
}
